// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.top-page-header {
    height: 65vh;
    background-image: url('sharecling.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    opacity: 0.8;
}

